# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby Build
on: [push, pull_request]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    services:

      postgres:
        image: postgres:9.6.11
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 5s
          --health-timeout 2s
          --health-retries 15

    steps:

      - name: Checkout code from git
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.5

      - name: Install dependencies
        run: bundle install --jobs 4 --retry 3

      - name: Run Rubocop linting
        run: bundle exec rubocop --parallel --color

      - name: Prepare test DB
        run: bundle exec rake db:test:create

      - name: Run RSpec unit tests
        run: bundle exec rspec --force-color
